In [3]:
import os

import numpy as np
import pandas as pd
from pandas import DataFrame, Series
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [11]:
PATH = '../data/2019-20/players/'
player_list = os.listdir(PATH)

In [23]:
PLAYER_PATH_1 = PATH + 'Trent_Alexander-Arnold_182/'
gw1_df = pd.read_csv(PLAYER_PATH_1 + 'gw.csv')
gw1_df.columns

Index(['assists', 'bonus', 'bps', 'clean_sheets', 'creativity', 'element',
       'fixture', 'goals_conceded', 'goals_scored', 'ict_index', 'influence',
       'kickoff_time', 'minutes', 'opponent_team', 'own_goals',
       'penalties_missed', 'penalties_saved', 'red_cards', 'round', 'saves',
       'selected', 'team_a_score', 'team_h_score', 'threat', 'total_points',
       'transfers_balance', 'transfers_in', 'transfers_out', 'value',
       'was_home', 'yellow_cards'],
      dtype='object')

In [26]:
gw1_screened = gw1_df[['total_points', 'assists', 'clean_sheets', 'element', 'goals_conceded', 'goals_scored', 'opponent_team', 'transfers_balance', 'value']]
gw1_screened

,total_points,assists,clean_sheets,element,goals_conceded,goals_scored,opponent_team,transfers_balance,value
0,5,1,0,182,1,0,14,0,70
1,1,0,0,182,1,0,16,32545,70
2,5,1,0,182,1,0,1,-105350,70
3,11,1,1,182,0,0,5,65255,70
4,2,0,0,182,1,0,13,203477,71
5,7,0,0,182,1,1,6,860,71
6,6,0,1,182,0,0,15,152752,72
7,3,0,0,182,1,0,9,46507,72
8,2,0,0,182,1,0,12,47573,72
9,1,0,0,182,1,0,17,-78484,72
10,7,1,0,182,1,0,2,-16811,72
11,2,0,0,182,1,0,11,11775,72
12,2,0,0,182,1,0,7,69299,72
13,10,2,0,182,1,0,4,-40453,72
14,3,1,0,182,2,0,8,51053,72
15,1,0,0,182,0,0,3,51843,73
16,6,0,1,182,0,0,18,-25780,73
17,24,3,1,182,0,1,9,6776,72
18,8,0,1,182,0,0,20,314161,73
19,6,0,1,182,0,0,15,231882,74
20,6,0,1,182,0,0,17,124345,75
21,10,1,1,182,0,0,12,74133,75
22,5,1,0,182,1,0,20,152061,76
23,7,0,1,182,0,0,19,152061,76
24,6,0,1,182,0,0,16,109648,76
25,7,0,1,182,0,0,14,36573,77
26,10,2,0,182,2,0,19,30083,77
27,1,0,0,182,3,0,18,59016,77
28,2,0,0,182,1,0,3,4373,78
29,7,0,1,182,0,0,8,-164511,78
30,14,0,1,182,0,1,7,29606,78
31,0,0,0,182,4,0,11,3255,78
32,6,0,1,182,0,0,2,-12824,78
33,2,0,0,182,1,0,4,7211,78
34,1,0,0,182,1,0,5,-22953,78
35,0,0,0,182,2,0,1,-109049,78
36,13,1,0,182,3,1,6,-122771,77
37,1,0,0,182,0,0,13,-20837,77